.contact-two {
    color: #000;
    height: 45vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../Assets/leaf1_img.png") no-repeat center center;
    background-size: cover;
}

.contact-two-header {
    width: 100%;
    text-align: center;
}

.contact-two-header h2 {
    font-size: 42px;
    line-height: 3rem;
    font-weight: 600;
}

.contact-two-container {
    width: 100%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-two-container p {
    font-size: 18px;
    line-height: 3rem;
    font-weight: 400;
    width: 100%;
    max-width: 600px;
}



.contact-two-button a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--skyblue);
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  
  .contact-two-button::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: var(--skyblue);
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  
  .contact-two-button a:hover {
    color: var(--dark-black);
  }
  
  .contact-two-button:hover::after {
    transform: scaleX(1);
  }



/* Responsive Design */
@media (max-width: 768px) {
    .contact-two {
        height: auto;
        padding: 4rem 2rem;
    }
    
    .contact-two-header h2 {
        font-size: 32px;
    }
    
    .contact-two-container p {
        font-size: 16px;
        line-height: 2.5rem;
    }

    .contact-two-button a {
        padding: 1.5rem 3rem;
        font-size: 1.6rem;
    }
}
