

.navbar {
  box-shadow: 10px 1px 0px 1px #eee;
  background: #fff;
  opacity: 0.85;
  width: 100%;
  color: var(--dark-black);
  z-index: 999;
  position: fixed;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 76px;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.logo h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: inherit;
  font-family: "Palanquin Dark", sans-serif;
  cursor: pointer;
  color: var(--dark-black);
}

.nav-items {
  display: flex;
  order: 6;
}

.nav-items li {
  text-decoration: none;
  list-style: none;
  border: none;
  margin-left: 6rem;
  padding: 1rem 1rem;
  text-align: center;
  font-weight: 800;
  font-family: inherit;
}

.nav-container ul li {
  color: var(--dark-black);
  font-size: 1.6rem;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}




.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: var(--dark-black);
  margin: 4px 0;
  transition: 0.4s;
}

.open .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.open .line2 {
  opacity: 0;
}

.open .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}



/* ******************* Responsive ******************** */

@media (max-width: 1280px) {
  .navbar {
    width: 100%;
  }
  .nav-container {
    height: 80px;
    max-width: 1000px;
  }
  .logo h2{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
  }
  .nav-items li {
    margin-left: 4rem;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
  }
  .nav-container ul li {
    font-size: 1.5rem;
  }
  .nav-container ul{
    margin-right: 4rem;
  }
}



@media (max-width: 800px) {
    .nav-container {
      height: 76px;
      padding: 0px 60px ;
    }
    .logo h2{
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
    }
    .nav-items li {
      margin-left: 2rem;
      font-weight: 600;
    }
    .nav-container ul li {
      font-size: 1.4rem;
    }
    .nav-container ul{
      margin-right: 1rem;
    }
  }


  @media (max-width: 1024px) {
    .nav-container {
      height: 76px;
      padding: 0px 60px ;
    }
    .logo h2{
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
    }
    .nav-items li {
      margin-left: 2rem;
      font-weight: 600;
    }
    .nav-container ul li {
      font-size: 1.4rem;
    }
    .nav-container ul{
      margin-right: 1rem;
    }
  }

  @media (max-width: 768px) {
    .navbar{
        /* padding: 0px 30px; */
    }
    .nav-items {
      display: none;
      flex-direction: column;
      width: 100%;
      background: white;
      position: absolute;
      top: 90px;
      left: 0;
    }
  
    .nav-items.open {
      display: flex;
    }
  
    .nav-items li {
      margin: 0;
      padding: 1.5rem 0;
      width: 100%;
      text-align: center;
    }
  
    .hamburger {
      display: flex;
    }
  }


  
  @media (max-width: 500px) {
    .navbar{
        padding: 0px 30px;
    }
    .nav-container {
        padding: 0 1rem;
    }

    .nav-items li {
        font-size: 1.4rem;
        padding: 1rem 0;
    }

    .logo h2 {
        font-size: 2rem;
    }
    .hamburger .line {
        width: 28px;
      }
}