
.work{
    /* margin: 2rem auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.work-container{
    display: flex;

    gap: 200px;
    
}
.work-card{
    /* width: 440px; */
    /* width: 280px; */
    cursor: pointer;
    
}

.work-card img{
    width: 440px;
    height: 280px;
    border-radius: 10px;
}

.work-main-head{
    text-align: start;
    color: var(--black);
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
}
.work-card-content p{
    color: var(--light-gray);
    font-size: 1.1rem;
    line-height: 1.6rem;
    
}
 .work-card-content h3{
    font-size: 1.6rem;
    color: var(--light-gray);
    margin-bottom: 1rem;
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2px;
}
.work-main-head{
    display: flex;
    gap: 10px;
    align-items: center;
}
/* .work-main-head i{
    color: var(--orange);
    font-size: 30px;
} */