.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    /* height: 95vh; */
    padding-top: 5rem ;
    padding-bottom: 2rem;
    /* background: var(--skyblue-gradient-light); */
}

.form-container{
    flex: 1;
}
.main-container{
margin: auto;
}


.contact-container{
    margin-top: 4rem;
}
/* .contact-left{
    flex: 1;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.pinimg.com/564x/8e/a9/3d/8ea93d9511300d4be82ac986ea7a2c30.jpg");
    width: 50%;
    max-width: 550px;
    background-position:start;
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
    text-align: right;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.706592px 0.706592px -0.625px, rgba(0, 0, 0, 0.07) 0px 1.80656px 1.80656px -1.25px, rgba(0, 0, 0, 0.07) 0px 3.62176px 3.62176px -1.875px, rgba(0, 0, 0, 0.063) 0px 6.8656px 6.8656px -2.5px, rgba(0, 0, 0, 0.05) 0px 13.6468px 13.6468px -3.125px, rgba(0, 0, 0, 0.024) 0px 30px 30px -3.75px;
} */

.form-container{
    /* flex: 1; */
    background: #fff;
    padding: 4rem 4rem 0rem 4rem;
    text-align: right;
    width: 80%;
    max-width: 920px;
    height: 610px;
    border-radius: 5px;
    line-height: 1.7;
    box-shadow: rgb(100 100 111 / 26%) 0 7px 29px 0;
    
}

.contact-head{
    font-size: 3rem;
    text-align: center;
    padding-top: 5rem;
    color:var(--skyblue);
    font-weight: 800;
}
.contact-sub-head {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: var(--light-grey);
    line-height: 1;
    padding-top: 1rem;
    margin: 0 auto;
}

.contact-form-field input{
    color: var(--dark-black);
    padding: 2rem;
    width: 100%;
    border: 2px solid #ebebeb;
    font-size: 1.4rem;
    letter-spacing: 0;
    background: transparent;
    border-radius: 5px;
    font-weight: 600;
    font-family: inherit;
    
}

.contact-form-field input{
   margin-bottom: 3rem;
}


.contact-form-field textarea{
    color: var(--dark-black);
    padding: 2rem;
    width: 100%;
    height: 180px;
    border: 2px solid #ebebeb;
    font-size: 1.4rem;
    letter-spacing: 0;
    background: transparent;
    border-radius: 5px;
    font-weight: 600;
    font-family: inherit;
}

.contact-form-label{
   color: var(--dark-black);
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
    font-family: inherit;
}

label {
    cursor: default;
}

.contact-button {
    background-color: rgb(255, 255, 255);
    height: 100%;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    color: var(--dark-black);
    padding: 1.8rem 5rem;
    border: 1px solid rgba(128, 128, 128, 0.121);
    font-size: 1.8rem;
    font-weight: 500;
    margin: 1rem auto;
}

.contact-button{
    color: var(--white);
    background: var(--dark-black);
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.706592px 0.706592px -0.625px, rgba(0, 0, 0, 0.07) 0px 1.80656px 1.80656px -1.25px, rgba(0, 0, 0, 0.07) 0px 3.62176px 3.62176px -1.875px, rgba(0, 0, 0, 0.063) 0px 6.8656px 6.8656px -2.5px, rgba(0, 0, 0, 0.05) 0px 13.6468px 13.6468px -3.125px, rgba(0, 0, 0, 0.024) 0px 30px 30px -3.75px;
}

.contact-button:hover{
    box-shadow: none;
    background: var(--black);
}


.contact-icons{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    margin: 6rem auto;
    padding-left: 26rem;
    margin-top: 5rem;
    gap: 2rem;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.contact-para{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--dark-black);
}

.icon p{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--grey);
}

.contact-img-icon i{
    font-size: 2.6rem;
    padding: 10px;
    color: var(--dark-black);
}

.contact-sub-head{
    color: var(--dark-black);
    font-weight: 700;
    font-size: 6rem;
    font-family: 'Rubik Doodle Shadow', system-ui;
    text-transform: uppercase;
}