
.contact {
    background: linear-gradient(rgba(240, 240, 240, 0.808), rgba(255, 255, 255, 0.473)), url("../Assets/common-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.form-container {
    background: #fff;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    padding: 4rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 4rem auto;
    line-height: 1.7;
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.contact-container {
    margin-top: 5rem;
    padding: 5rem auto;
}


.contact-form-field input,
.contact-form-field textarea {
    color: #666;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.4rem;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    font-family: inherit;
}

.contact-form-field input {
    margin-bottom: 4rem;
}

.contact-form-label {
    color: #555;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
    font-family: inherit;
}

label {
    cursor: default;
}


.contact-head {
    font-size: 3rem;
    text-align: center;
    padding-top: 5rem;
    color: var(--skyblue);
    font-family: "Tangerine", serif;
}

.contact-sub-head {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    color: var(--dark-black);
    font-family: 'Rubik Doodle Shadow', system-ui;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 1rem;
    margin: 0 auto;
}


.contact-button {
    background: var(--dark-black);
    color: var(--white);
    border-radius: 8px;
    padding: 1.4rem 5rem;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.121);
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.7px 0.7px -0.6px, 
                rgba(0, 0, 0, 0.07) 0px 1.8px 1.8px -1.2px, 
                rgba(0, 0, 0, 0.07) 0px 3.6px 3.6px -1.8px, 
                rgba(0, 0, 0, 0.063) 0px 6.8px 6.8px -2.5px, 
                rgba(0, 0, 0, 0.05) 0px 13.6px 13.6px -3.1px, 
                rgba(0, 0, 0, 0.024) 0px 30px 30px -3.7px;
}

.contact-button:hover {
    box-shadow: none;
    background: var(--black);
}
