* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

html {
  font-size: 62.5%;
  color: #000;
}

:root {
  --skyblue: #2596be;
  --grey: #666;
  --black: #222;
  --dark-black: #000;
}

body {
  font-family: "Karla", sans-serif;
}

